.navbar {
  display: flex;
  flex-direction: row; /* 确保是水平布局 */
  background-color: #181A30;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  /* 其他样式规则 */
}

.navbar-link {
  white-space: nowrap; /* 防止导航链接换行 */
}